$contentLeftWidth: 740px;
$contentLeftMargin: 30px;
$colorBlack: #333333;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  font-size: 10px;
  margin: 0 auto;
  width: 950px;
}
.show_content_wrapper{
  @extend .menu;
  display: flex;
  .show_content_left{
    width: $contentLeftWidth;
    margin-right: $contentLeftMargin;
    .show_left_info{
      display: flex;
      justify-content: space-between;
      .show_info_left{
        width: 500px;
        margin: 25px 0;
        color: $colorBlack;
        .show_info_name{
          display: flex;
          .experience_name{
            font-size: 24px;
            font-weight: bold;
            margin: -1px 0 0 3px;
          }
        }
        .show_info_score{
          @include expScore;
          padding-top: 5px;
          .rating_point{
            font-size: 16px;
            margin-top: 1px;
          }
          .review_count{
            font-size: 12px;
          }
        }
        .area_wrapper{
          display: flex;
          font-size: 12px;
          margin-top: 12px;
          .area{
            font-weight: bold;
            margin-right: 40px;
          }
          .link_to{
            margin: -1px 6px 0 8px;
          }
        }
        .genre_wrapper{
          @extend .area_wrapper;
          margin-top: 5px;
          .genre{
            font-weight: bold;
            margin-right: 29px;
          }
          .link_to{
            margin: -1px 6px 0 8px;
          }
        }
      }
      .show_info_right{
        @extend .show_info_left;
        height: 140px;
        width: 170px;
        .post_reviews{
          height: 37px;
          line-height: 37px;
          font-size: 20px;
          border: 1px solid $gray;
          border-radius: 3px;
          text-align: center;
          margin-bottom: 5px;
          position: relative;
        }
        .share_act{
          @extend .post_reviews;
        }
        &_down{
          display: flex;
          .favorite{
            height: 25px;
            width: calc((170px - 5px) / 2) ;
            line-height: 25px;
            font-size: 15px;
            border: 1px solid $gray;
            border-radius: 3px;
            padding-left: 5px;
            position: relative;
            .fa-star{
              color: #ffa500;
            }
          }
          .have_been_place{
            @extend .favorite;
            margin-left: 5px;
          }
        }
      }
    }
    .show_left_main{
      &_tab{
        .experience_tabs{
          display: flex;
          height: 43px;
          border-bottom: 2px solid #ffa500;
          padding: 0 12px;
          .tab{
            height: 43px;
            width: 86px;
            color: $colorBlack;
            border-radius: 4px 4px 0 0;
            border: 2px solid $gray;
            border-bottom: 2px solid #ffa500;
            margin-right: 4px;
            padding: 12px 0 0;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            cursor: pointer;
            .number{
              font-size: 11px;
            }
            &.active_tab{
              color: orangered;
              font-weight: bold;
              border: 2px solid #ffa500;
              border-bottom: 2px solid #ffffff;
              cursor: auto;
            }
          }
          .tab_2line{
            @extend .tab;
            padding: 6px 0 0;
          }
        }
      }
      &_content{
        margin-top: 16px;
        .experience_name{
          font-size: 18px;
          font-weight: bold;
          color: $colorBlack;
          margin: 0 0 13px 3px;
        }
        .picture_score{
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          .content_picture{
            height: 370px;
            width: 490px;
            background-color: black;
          }
          .content_score{
            height: 180px;
            width: 240px;
            border: 1px solid $gray;
            &_list{
              padding: 9px 8px;
              color: $colorBlack;
              .list_title{
                font-size: 14px;
                font-weight: bold;
              }
              .list_score{
                font-size: 12px;
                margin-top: 8px;
                display: flex;
                .evaluation{
                  width: 78px;
                  display: block;
                }
                .persent{
                  width: 27px;
                  display: block;
                  text-align: end;
                  margin-right: 11px;
                }
                .persent_graph{
                  margin-top: 2px;
                  position: relative;
                  height: 14px;
                  width: 102px;
                  &_front{
                    height: 100%;
                    width: 0%;
                    background-color: #ffa500;
                  }
                  &_back{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border: 1px solid #ffa500;
                  }
                }
              }
            }
          }
        }
        .business_info{
          display: flex;
          height: 36px;
          border: 1px solid $gray;
          color: $colorBlack;
          .business_info_title{
            height: 100%;
            width: 175px;
            font-size: 12px;
            font-weight: bold;
            padding: 8px 0 0 8px;
            border-right: 1px solid $gray;
            background-color: #eaeaea;
          }
          .business_info_main{
            display: flex;
            font-size: 12px;
            padding: 8px 0 0 8px;
            &_postalcode{
              margin-right: 16px;
            }
            &_address{
              margin-right: 4px;
            }
          }
        }
        .business_info2{
          @extend .business_info;
          border-top: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
  .show_content_right{
    width: calc(100% - #{$contentLeftWidth} - #{$contentLeftMargin});
  }
}