$contentLeftWidth: 740px;
$contentLeftMargin: 30px;
.menu{
  font-size: 10px;
  margin: 0 auto;
  width: 950px;
}
.show_content_wrapper{
  @extend .menu;
  display: flex;
  .show_content_left{
    height: 1000px;
    width: $contentLeftWidth;
    margin-right: $contentLeftMargin;
    .show_left_info{
      height: 200px;
      display: flex;
      justify-content: space-between;
      .show_info_left{
        height: 100%;
        width: 50px;
        margin: 25px 0;
        background-color: black;
      }
      .show_info_right{
        @extend .show_info_left;
        height: 140px;
        width: 170px;
      }
    }
  }
  .show_content_right{
    // background-color: black;
    height: 1000px;
    width: calc(100% - #{$contentLeftWidth} - #{$contentLeftMargin});
  }
}