$contentLeftWidth: 740px;
$contentLeftMargin: 30px;
@mixin areaLinkTo {
  font-weight: bold;
  margin-right: 30px;
  }
  .link_to{
    margin: -1px 6px 0 8px;
}
.menu{
  font-size: 10px;
  margin: 0 auto;
  width: 950px;
}
.show_content_wrapper{
  @extend .menu;
  display: flex;
  .show_content_left{
    height: 1000px;
    width: $contentLeftWidth;
    margin-right: $contentLeftMargin;
    .show_left_info{
      display: flex;
      justify-content: space-between;
      .show_info_left{
        height: 100%;
        width: 500px;
        margin: 25px 0;
        color: #333333;
        .show_info_name{
          display: flex;
          .experience_name{
            font-size: 24px;
            font-weight: bold;
            margin: -1px 0 0 3px;
          }
        }
        .show_info_score{
          @include expScore;
          padding-top: 5px;
          .rating_point{
            font-size: 16px;
            margin-top: 1px;
          }
          .review_count{
            font-size: 12px;
          }
        }
        .area_wrapper{
          display: flex;
          font-size: 12px;
          margin-top: 12px;
          .area{
            @include areaLinkTo();
          }
        }
        .genre_wrapper{
          @extend .area_wrapper;
          margin-top: 5px;
          .genre{
            @include areaLinkTo();
            margin-right: 19px;
          }
        }
      }
      .show_info_right{
        @extend .show_info_left;
        height: 140px;
        width: 170px;
        .post_reviews{
          height: 37px;
          line-height: 37px;
          font-size: 20px;
          border: 1px solid $gray;
          border-radius: 3px;
          text-align: center;
          margin-bottom: 5px;
          position: relative;
        }
        .share_act{
          @extend .post_reviews;
        }
        &_down{
          display: flex;
          .favorite{
            height: 25px;
            width: calc((170px - 5px) / 2) ;
            line-height: 25px;
            font-size: 15px;
            border: 1px solid $gray;
            border-radius: 3px;
            padding-left: 5px;
            position: relative;
            .fa-star{
              color: #ffa500;
            }
          }
          .have_been_place{
            @extend .favorite;
            margin-left: 5px;
          }
        }
      }
    }
    .show_left_main{
      height: 1000px;
      &_tab{
        height: 43px;
        border-bottom: 2px solid #ffa500;
        background-color: black;
      }
    }
  }
  .show_content_right{
    height: 1000px;
    width: calc(100% - #{$contentLeftWidth} - #{$contentLeftMargin});
  }
}