$userNameHeight: calc(100% / 4 * 3);
@mixin user_image {
  border-radius: 10px;
  border: 1px solid gray;
}
@mixin btn_link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.mypage_wrapper{
  background-image: image-url('mypage_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: calc(100vh - 185px);
  width: 100%;
  background-attachment: fixed;
  .mypage_main{
    height: calc(100vh - 185px);
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.5);
    .mypage_contents_head{
      height: 94px;
      border-bottom: 1px solid #646464;
      display: flex;
      justify-content: flex-end;
      .mypage_contents_number_list{
        height: 100%;
        margin-right: 245px;
        padding-top: 12px;
        color: white;
        font-size: 16px;
        text-align: end;
        .mypage_contents_number{
          margin-bottom: 2px;
        }
      }
    }
    .mypage_contents_main{
      display: flex;
      .mypage_contents_main_left{
        height: calc(100vh - 279px);
        width: 436px;
        border-right: 1px solid #646464;
        display: flex;
        justify-content: flex-end;
        .mypage_user_setting_wrapper{
          height: 100%;
          width: 200px;
          padding-top: 30px;
          .mypage_user_side_list{
            height: 100%;
            width: 100%;
            padding-left: 10px;
            .mypage_user_side{
              margin-bottom: 10px;
              .mypage_user_side_text{
                color: #fff;
                font-size: 14px;
              }
              .mypage_user_side_text:hover{
                opacity: 0.7;
              }
            }
          }
        }
      }
      .mypage_contents_main_right{
        // height: 100%;
        width: calc(100% - 436px);
        padding: 0 243px 0 28px;
        .mypage_user_info_head{
          height: 185px;
          width: 100%;
          background-color: rgba($color: #ffffff, $alpha: 0.75);
          display: flex;
          margin-top: 28px;
          border-radius: 5px;
          .mypage_user_image{
            height: 150px;
            width: 150px;
            margin: 17px;
            .user_image{
              @include user_image();
            }
          }
          .mypage_user_name_area{
            height: 150px;
            width: calc(100% - 150px);
            margin: 17px 17px 17px 0;
            color: black;
            text-align: end;
            .mypage_user_name1{
              height: $userNameHeight;
              line-height: 112px;
              font-size: 60px;
            }
            .mypage_user_name2{
              height: calc(100% - #{$userNameHeight});
              font-size: 22px;
              line-height: 37px;
            }
          }
        }
        .mypage_user_info_main{
          @extend .mypage_user_info_head;
          height: 250px;
          margin-top: 20px;
          display: block;
          color: black;
          padding: 25px 17px;
        }
        // ユーザー情報更新ページ
        .user_edit_main{
          @extend .mypage_user_info_head;
          height: 100%;
          display: block;
          color: black;
          padding: 0 17px;
          #link_main{
            font-size: 12px;
            border-bottom: 1px dotted black;
            width: 100%;
          }
          .edit_user{
            padding-top: 17px;
            text-align: end;
            .field{
              width: 100%;
              margin-bottom: 10px;
              .text_top{
                vertical-align: top;
              }
              .edit_user_form{
                resize: none;
                width: calc(100% - 120px);
                border: 1px solid gray;
                border-radius: 6px;
                padding: 5px;
              }
            }
          }
          .image_field{
            text-align: left;
            padding-left: 20px;
            .text_top{
              vertical-align: top;
            }
            .user_image{
              @include user_image();
              cursor: pointer;
            }
          }
          .update_button{
            margin: 17px 199px;
            height: 54px;
            width: 300px;
            background-color: #90b200;
          }
        }
        // ユーザーのお気に入り一覧ページ
        .user_favorites_main{
          @extend .user_edit_main;
          width: 776px;
          .favorites_activity_show_area{
            min-height: calc(100vh - 184px);
            padding-top: 17px;
            .favorites_list{
              display: flex;
              width: 742px;
              flex-wrap: wrap;
              .activity_right_margin{
                margin-right: 8px;
              }
              .favorites_activity_wrapper{
                width: 242px;
                border: 1px solid #808080;
                border-radius: 5px;
                margin-bottom: 17px;
                word-spacing: 0px;
                background-color: #fff;
                .favorite_info{
                  height: 36px;
                  padding: 0px 7px;
                  display: flex;
                  justify-content: space-between;
                  .favorite_time{
                    font-size: 11px;
                  }
                  .favorite_release_btn{
                    @include backgroundGradient();
                    border: 1px solid #808080;
                    border-radius: 3px;
                    display: flex;
                    font-size: 11px;
                    height: 20px;
                    margin: auto 0px;
                    padding: 0 7px;
                    position: relative;
                    .release_mark{
                      margin: 3px 5px 0 0;
                      color: #808080;
                    }
                    .release_message{
                      font-weight: bold;
                    }
                    .favorite_release{
                      @include btn_link();
                    }
                  }
                }
                .activity_picture{
                  height: 181px;
                  position: relative;
                  .content_picture{
                    height: 100%;
                    width: 100%;
                  }
                  &_link{
                    @include btn_link();
                  }
                }
                .activity_info_wrapper{
                  padding: 5px 7px 6px;
                  .activity_name{
                    font-size: 14px;
                    font-weight: bold;
                    color: #0088de;
                    margin: 0;
                    text-decoration: underline;
                  }
                  .activity_place{
                    font-size: 11px;
                    margin: 1px 0 0 1px;
                  }
                  .favorites_number{
                    font-size: 20px;
                    .star_icon{
                      color: #ffa500;
                    }
                  }
                  .activity_comment_info{
                    font-size: 10px;
                    margin: 0px;
                    font-weight: bold;
                    color: #808080;
                  }
                  .activity_comment{
                    height: 35px;
                    margin: 0;
                    width: 100%;
                    border: 1px solid #808080;
                    font-size: 12px;
                    resize: none;
                  }
                  ::placeholder{
                    padding: 2px;
                    font-size: 10px;
                    line-height: -20px;
                  }
                  .save_btn{
                    @include backgroundGradient();
                    display: flex;
                    height: 18px;
                    width: 73px;
                    margin: 0px 0px 0px auto;
                    border: 1px solid #808080;
                    border-radius: 3px;
                    font-size: 11px;
                    position: relative;
                    .check_mark{
                      margin: 2px 3px 0px 6px;
                      color: #808080;
                    }
                    .save_message{
                      font-weight: bold;
                    }
                    .save_submit{
                      @include btn_link();
                    }
                  }
                }
              }
            }
            .not_contents{
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
        // ユーザーの訪問記録一覧ページ
        .user_histories_main{
          @extend .user_favorites_main;
          .histories_activity_show_area{
            @extend .favorites_activity_show_area;
            .histories_list{
              @extend .favorites_list;
              .histories_activity_wrapper{
                @extend .favorites_activity_wrapper;
                .history_info{
                  height: 36px;
                  padding: 0px 7px;
                  display: flex;
                  justify-content: space-between;
                  .history_time{
                    font-size: 11px;
                  }
                  .history_release_btn{
                    @include backgroundGradient();
                    border: 1px solid #808080;
                    border-radius: 3px;
                    display: flex;
                    font-size: 11px;
                    height: 20px;
                    margin: auto 0px;
                    padding: 0 7px;
                    position: relative;
                    .release_mark{
                      margin: 3px 5px 0 0;
                      color: #808080;
                    }
                    .release_message{
                      font-weight: bold;
                    }
                    .history_release{
                      @include btn_link();
                    }
                  }
                }
                .activity_info_wrapper{
                  .histories_number{
                    @extend .favorites_number;
                  }
                }
              }
            }
          }
        }
        // ユーザーの口コミ一覧ページ
        .user_reviews_main{
          @extend .user_favorites_main;
          .reviews_activity_show_area{
            padding: 17px 0 1px;
            min-height: calc(100vh - 184px);
            .reviews_list{
                  .review_wrapper{
                    padding: 12px 0 15px;
                    color: #000000;
                    border: 1px solid #808080;
                    border-radius: 5px;
                    background-color: #fff;
                    margin-bottom: 17px;
                    .review_main_area{
                      width: 97%;
                      margin: 0 auto;
                      .review_info_wrapper{
                        display: flex;
                        li{
                          .activity_picture{
                            position: relative;
                            height: 60px;
                            width: 80px;
                            margin: 0 15px 5px 0;
                            .content_picture{
                              height: 100%;
                              width: 100%;
                            }
                            &_link{
                              position: absolute;
                              top: 0;
                              left: 0;height: 100%;
                              width: 100%;
                            }
                          }
                          .activity_name{
                            display: inline-block;
                            margin: 2px 0;
                          }
                          .activity_place{
                            font-size: 11px;
                            margin: 1px 0 0 1px;
                          }
                        }
                        .reviewed_at_wrapper{
                          font-size: 14px;
                          margin: 0 0 0 auto;
                        }
                      }
                      .review_info{
                        .review_title{
                          font-weight: bold;
                        }
                        .review_score{
                          margin-top: 2px;
                          @include expScore;
                        }
                      }
                      .triangle {
                        color: #eee;
                        margin: -5px 0 0 27px;
                        font-size: 14px;
                      }
                      .review_index_comment_area {
                        margin-top: -7px;
                        padding: 8px;
                        border-radius: 6px;
                        background-color: #eee;
                        .review_index_comment {
                          font-size: 20px;
                        }
                      }
                    }
                  }
            }
            .not_contents{
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
