@mixin submit {
  display: block;
  width: 118px;
  height: 38px;
  padding: 10px 25px;
  color: #000;
  border: 1px solid #809CBB;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(220,220,220)),
    color-stop(1, rgb(255,255,255))
  );
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}
.passwordAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  .passwordHeader{
    width: 100%;
    background: #f8f8f8;
  }
  .passwordMain{
  width: 1000px;
  display: inline-block;
    .menu{
      font-size: 12px;
      line-height: 18px;
    }
    #passwordMain{
      padding: 10px 0 5px 0;
      border-bottom: 1px dotted #ccc;
      a{
        outline: none;
      }
      a:visited{
        text-decoration: none;
        color: #069;
      }
    }
    #contentsArea{
      width: 740px;
      min-height: 450px;
      margin: 17px auto 50px;
      text-align: left;
      #reissue{
        margin-bottom: 15px;
        border: 5px solid gainsboro;
        #reissueHeader{
          padding: 10px 10px 10px 20px;
          border: 1px solid white;
          background: #F4F4F2;
          border-image: initial;
          .title{
            margin-bottom: 5px;
            padding-left: 17px;
            font-size: 1.2em;
            font-weight: bold;
          }
        }
        #reissueMain{
          width: 692px;
          margin: 0 auto;
          padding: 10px 20px;
          border-bottom: 1px solid #e5e5e5;
        }
        .left_p_20px{
          padding-left: 20px;
          .passwordFieldWrapper{
            display: flex;
            .passwordField{
              height: 41px;
              width: 170px;
              padding: 10px;
              border: 1px solid #ccc;
              background-color: #f5f5f5;
              line-height: 21px;
              .userEmailText{
                font-size: 11px;
              }
            }
            .passwordEmailField{
              @extend .passwordField;
              width: 458px;
              border-left: none;
              background-color: #fff;
              display: flex;
              align-items: center;
              .userEmailField{
                width: 308px;
                margin: 2px;
                padding: 1px 2px;
              }
            }
          }
        }
        .right_p_20px{
          padding-right: 20px;
        }
        .bottom_p_10px{
          padding-bottom: 10px;
        }
        .actions{
          display: flex;
          justify-content: center;
          margin-bottom: 25px;
          .submit{
            @include submit();
          }
        }
        a{
          text-decoration: none;
          font-weight: bold;
          color: #069;
        }
        .signUpLinkHeader{
          background-color: #fff!important;
        }
        .signUpLinkMain{
          .toSignUpLink{
            margin: 25px 0;
            display: flex;
            justify-content: center;
            .submit{
              @include submit();
              width: 192px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}