.passwordAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  .passwordHeader{
    width: 100%;
  }
  .passwordMain{
  width: 1000px;
  display: inline-block;
    .menu{
      font-size: 12px;
      line-height: 18px;
    }
    #passwordMain{
      padding: 10px 0 5px 0;
      border-bottom: 1px dotted #ccc;
      a{
        outline: none;
      }
      a:visited{
        text-decoration: none;
        color: #069;
      }
    }
    #contentsArea{
      width: 740px;
      min-height: 450px;
      margin: 17px auto 50px;
      text-align: left;
      #reissue{
        margin-bottom: 15px;
        border: 5px solid gainsboro;
      }
    }
  }
}