.review_new_wrapper{
  height: 1000px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .review_new_form{
    width: 750px;
    color: $colorBlack;
    &_name{
      height: 189px;
      margin-top: 28px;
      // background-color: black;
      &_title{
        display: flex;
        .head_icon{
          height: 22px;
          width: 5px;
          border-radius: 2px;
          background-color: #ff4500;
        }
        .head_name{
          font-size: 18px;
          font-weight: bold;
          margin-left: 8px;
        }
      }
    }
  }
  .review_old_show{
    height: 1000px;
    width: 180px;
    background-color: black;
  }
}