.review_new_wrapper{
  height: 1000px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .review_new_form{
    width: 750px;
    color: $colorBlack;
    &_name{
      margin-top: 28px;
      &_title{
        display: flex;
        .head_icon{
          height: 22px;
          width: 5px;
          border-radius: 2px;
          background-color: #ff4500;
        }
        .head_name{
          font-size: 18px;
          font-weight: bold;
          margin-left: 8px;
        }
      }
      &_info{
        display: flex;
        margin-top: 27px;
        .info_image{
          height: 107px;
          width: 160px;
          background-color: black;
        }
        .info_name{
          margin-left: 15px;
          .exp_icon_name{
            display: flex;
            .exp_name{
              font-weight: bold;
              margin: 5px 0 0 8px;
            }
          }
          .exp_area{
            margin-top: 9px;
            font-size: 11px;
            word-spacing: 0;
          }
          .exp_address{
            margin-top: 5px;
            font-size: 12px;
            word-spacing: 0;
          }
        }
      }
    }
    &_score{
      // background-color: black;
      height: 500px;
      margin-top: 25px;
      .review_score_title{
        display: flex;
        align-items: flex-end;
        color: #ff4500;
        border-bottom: 3px solid #ff4500;
        .score_title{
          font-weight: bold;
          font-size: 18px;
        }
        .score_info{
          font-size: 12px;
          margin-bottom: 3px;
        }
        .required_item{
          margin: 0 0 4px 5px;
          font-size: 11px;
          padding: 0 3px;
          color: #ffffff;
          background-color: #ff4500;
        }
      }
    }
  }
  .review_old_show{
    height: 1000px;
    width: 180px;
    background-color: black;
  }
}