$upHeight: 29px;
.content_header{
  margin: 0 245px;
  font-size: 10px;
}
.content_main{
  height: 500px;
  width: calc(100% - 490px);
  margin: 0 245px;
  display: flex;
  &_left{
    // background-color: blue;
    width: 740px;
    &_header{
      @extend .content_main_left;
      display: flex;
      padding-top: 5px;
      margin-bottom: 23px;
      .content_title{
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        line-height: 40px;
        padding-left: 3px;
      }
    }
    &_info{
      @extend .content_main_left;
      height: 60px;
      margin-bottom: 10px;
      &_up{
        height: $upHeight;
        display: flex;
        justify-content: space-between;
        .ul_number{
          display: flex;
          align-items: flex-end;
          color: #333333;
          .number{
            word-spacing: 0px;
          }
          .all_number{
            @extend .number;
            font-size: 12px;
            margin-bottom: 2px;
          }
        }
        .ul_list{
          @extend .ul_number;
          width: 100px;
          justify-content: flex-end;
          .list{
            width: 24px;
            margin: 0 0 5px 8px;
            text-align: center;
            border-radius: 3px;
            background-color: #969696;
            color: white;
            &.list_active{
              background-color: #333333;
            }
          }
        }
      }
      &_down{
        background-color: black;
        height: calc(100% - #{$upHeight});
      }
    }
    &_main{
    }
  }
  &_right{
    background-color: greenyellow;
    width: calc(100% - 740px);
  }
}