$upHeight: 29px;
$linkColor: blue;
.content_header{
  margin: 0 245px;
  font-size: 10px;
}
.content_main{
  height: 100%;
  width: calc(100% - 490px);
  margin: 0 245px;
  display: flex;
  &_left{
    // background-color: $linkColor;
    width: 740px;
    &_header{
      @extend .content_main_left;
      display: flex;
      padding-top: 5px;
      margin-bottom: 23px;
      .content_title{
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        line-height: 40px;
        padding-left: 3px;
      }
    }
    &_info{
      @extend .content_main_left;
      height: 50px;
      color: #333333;
      margin-bottom: 10px;
      &_up{
        height: $upHeight;
        display: flex;
        justify-content: space-between;
        .ul_number{
          display: flex;
          align-items: flex-end;
          .number{
            word-spacing: 0px;
          }
          .all_number{
            @extend .number;
            font-size: 12px;
            margin-bottom: 2px;
          }
        }
        .ul_list{
          @extend .ul_number;
          width: 100px;
          justify-content: flex-end;
          .list{
            width: 24px;
            margin: 0 0 5px 8px;
            text-align: center;
            border-radius: 3px;
            background-color: #969696;
            color: white;
            cursor: pointer;
            &.list_active{
              background-color: #333333;
            }
          }
        }
      }
      &_down{
        height: 14px;
        font-size: 12px;
        padding-top: 5px;
        .order{
          display: flex;
          align-items: center;
          .order_list{
            margin-left: 5px;
            padding-right: 6px;
            color: $linkColor;
            cursor: pointer;
            text-decoration: underline;
            border-right: 1px solid #ccc;
            &.text_active{
              color: #333333;
              font-weight: bold;
              text-decoration: none;
              cursor: auto;
            }
            &.order_none{
              border: none;
            }
          }
        }
      }
    }
    &_main{
      cursor: pointer;
      &_list{
        height: 320px;
        margin-bottom: 15px;
        border-radius: 10px;
        // background-color: black;
        .content_main_header{
          height: 87px;
          // background-color: gray;
          padding: 11px;
          &_name{
            .show_experiences{
              font-size: 18px;
              color: $linkColor;
              font-weight: bold;
            }
          }
          &_score{
            display: flex;
            .star_rating{
              margin-right: 6px;
              width: 5em;
              line-height: 22px;
              font-size: 22px;
              position: relative;
              &_front{
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                color: orange;
                width: 88%;
              }
              &_back{
                color: #ccc;
              }
            }
            .rating_point{
              color: black;
              font-weight: bold;
              line-height: 26px;
            }
            .review_count{
              @extend .rating_point;
              font-weight: unset;
              font-size: 12px;
              line-height: 25px;
            }
            .review_link{
              color: $linkColor;
            }
          }
          &_place{
            margin-top: -4px;
            font-size: 12px;
            word-spacing: 0;
          }
        }
      }
    }
  }
  &_right{
    background-color: greenyellow;
    width: calc(100% - 740px);
  }
}