$transition: .2s ease-in-out;
*, :after, :before{
  box-sizing: border-box;
  margin: 0;
}
html{
  font-size: 16px;
  word-spacing: 1px;
}
body{
  color: rgb(102, 102, 102);
}
div{
  display: block;
}
a:link, a:visited{
  text-decoration: unset;
  color: #484848;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: list-item;
}
img {
  vertical-align: bottom;
}
.btn{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.leh_header{
  .header_wrapper{
    padding: 10px 190px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .leh_icon{
      height: 80px;
      width: 80px;
      margin-bottom: 5px;
      position: relative;
      .root_link{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .leh_sign_login{
      width: 420px;
      margin: 0;
      float: right;
      text-align: right;
      .sign_login_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45px;
        .sign_login{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          li{
            margin-left: 10px;
            .sl_name{
              color: #008dde;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.button_cv{
  height: 50px;
  border: none;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: $transition;
  color: #fff;
  background-color: #00b900;
  font-weight: 700;
}
.leh_footer{
  background-color: whitesmoke;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  .leh_footer_main{
    height: 100%;
    width: calc(#{$searchLeftWidth} + 25px + #{$searchRightWidth});
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leh_footer_link{
      display: flex;
      justify-content: space-around;
      align-items: center;
      .leh_privacy{
        margin-right: 10px;
        .leh_privacy_link{
          font-size: 12px;
          text-decoration: none;
          color: gray;
        }
      }
      .leh_email{
        font-size: 12px;
        text-decoration: none;
        color: gray;
      }
    }
    .leh_copyright{
      font-size: 10px;
      color: #808080;
    }
  }
}
#link_main{
  padding: 10px 0 5px 0;
  border-bottom: 1px dotted #ccc;
  a{
    text-decoration-line: underline;
    outline: none;
  }
  a:visited{
    color: #069;
  }
}