*{
  box-sizing: border-box;
  margin: 0;
}
html{
  font-size: 16px;
  word-spacing: 1px;
}
div{
  display: block;
}
a:link, a:visited{
  text-decoration: unset;
  color: #484848;
  transition: .2s ease-in-out;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.button-cv{
  height: 50px;
  border: none;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s ease-in-out;
  color: #fff;
  background-color: #00b900;
  font-weight: 700;
}