.leh_footer
  .leh_footer_main
    %ul.leh_footer_link
      -# %li.leh_privacy
      -#   = link_to 'プライバシーポリシー', '#', class: 'leh_privacy_link'
      %li.leh_inquiry
        = link_to 'お問い合わせ', 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'leh_email'
    .leh_copyright
      Copyright©︎ yasunori_yamasaki All Rights Reserved.
