.leh_footer
  .leh_footer-main
    %ul.leh_footer-link
      %li.leh_privacy
        %a{href: '#', class: 'leh_privacy-link'}
          プライバシーポリシー
      %li.leh_inquiry
        %a{href: 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'leh_email'}
          お問い合わせ
    .leh_copyright
      Copyright©︎ yasunori_yamasaki All Rights Reserved.