.footer-main
  %ul.footer-link
    %li.privacy
      %a{href: '#', class: 'privacy-link'}
        プライバシーポリシー
    %li.inquiry
      %a{href: 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'email'}
        お問い合わせ
  .copyright
    Copyright©︎ yasunori_yamasaki All Rights Reserved.