- if @category
  - breadcrumb :activity, @category
  %span{id: 'category_id', style: 'display:none'}
    = @category.id
- elsif @island
  - breadcrumb :activity, @island
  %span{id: 'category_id', style: 'display:none'}
    = @island.id
- elsif @area
  - breadcrumb :activity, @area
  %span{id: 'category_id', style: 'display:none'}
    = @area.id
- elsif @genre
  - breadcrumb :activity, @genre
  %span{id: 'category_id', style: 'display:none'}
    = @genre.id
- elsif @search_word
  - breadcrumb :search, @search_word
