.header
  = render 'shared/leh_header'
.review_new_wrapper
  .review_new_form
    .review_new_form_name
      .review_new_form_name_title
        .head_icon
        %h1.head_name
          口コミを投稿する
      .review_new_form_name_info
    .review_new_form_score
    .review_new_form_content
  .review_old_show
.footer
  = render 'shared/leh_footer'